    background-image: url(ps4-white-assets/season.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(ps4-white-assets/season2.png);
}

.ds4.white .bumper {
    background-image: url(ps4-white-assets/season5.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ps4-white-assets/season6.png);
}

.ds4.white .button {
    background-image: url(ps4-white-assets/season3.png);
}

.ds4.white .stick {
    background-image: url(ps4-white-assets/season1.png);
}

.ds4.white .face {
    background-image: url(ps4-white-assets/season4.png);
}